#main{
    background-color: rgb(6, 8, 8);
    
}

    

.navigation{
    color: #e5e5e5;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-top: 0px;
}


.navigation li{
    padding: 0px;
    margin-right: 0px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}




.navigation button{
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #4384af 5%, #59258a 100%);
	background-color:#1087d6;
	border-radius:6px;
	border:1px solid #2130b4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Helvetica Neue", Helvetica, "Segoe UI", Segoe, "Segoe WP", Arial, "Lucida Grande", sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.navigation span{
    color: #ffffff;
    text-transform: uppercase;
}



.users{
    background-color: #39264b;
    width: 300px;
    margin-left: 1000px;
    padding: 0px;
    border-color: black;
    border-radius: 50px;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #4384af 5%, #59258a 100%);
	background-color:#1087d6;
	border:1px solid #2130b4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Helvetica Neue", Helvetica, "Segoe UI", Segoe, "Segoe WP", Arial, "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}


.check{
    background-color: greenyellow;
}

.red{
    background-color: red;
}




.users ul{
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Segoe, "Segoe WP", Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    padding: 0px; 
    margin-bottom: 15px;
    color: black;

}

.users h2{
    color: #e5e5e5;
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
    
    
}



.users li img{
    border-radius:110px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    
}


#iduser{
    background-color: #e5e5e5;
    border: 1px #00f;
    border-radius: 45px;
    margin-bottom: 15px;
    
    
    


}


.contacts{
    background-color: #39264b;
    width: 300px;
    margin-left: 400px;
    margin-top: 200px;
    padding: 0px;
    border-color: black;
    border-radius: 50px;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #4384af 5%, #59258a 100%);
	background-color:#1087d6;
	border:1px solid #2130b4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Helvetica Neue", Helvetica, "Segoe UI", Segoe, "Segoe WP", Arial, "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
    margin-top: 50px;
    position: relative;
    bottom: -80px;
    
}

.contacts ul{
    list-style: none;
    
}


.contacts img{
    border-radius:110px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}



.Education{
    background-color: #39264b;
    width: 300px;
    margin-left: 250px;
    padding: 0px;
    border-color: black;
    border-radius: 50px;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #4384af 5%, #59258a 100%);
	background-color:#1087d6;
	border:1px solid #2130b4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Helvetica Neue", Helvetica, "Segoe UI", Segoe, "Segoe WP", Arial, "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
    margin-top: 50px;
    position: relative;
    bottom: 300px;
}

.contacts h3 a{
    color: #e5e5e5;
}

.contacts p{
    border-radius:110px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:black
}

.contacts strong{
    margin-left: 9px;
}



#section{
    background-color: #39264b;
    width: 300px;
    margin-left: 400px;
    margin-bottom: 50px;
    padding: 0px;
    border-color: black;
    border-radius: 50px;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #4384af 5%, #59258a 100%);
	background-color:#1087d6;
	border:1px solid #2130b4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Helvetica Neue", Helvetica, "Segoe UI", Segoe, "Segoe WP", Arial, "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
    position: relative;
    bottom: 799px;
}




.imagen img{
    width: 80px;
    margin-left: 50px;
    position: relative;
    bottom: 1px;
    box-decoration-break: slice;


}

.imagen{
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 10px;
    
}



.section2{
    display: flex;
    margin-left: 50px;
    font-size: 10px;
}
.section2 img{
    width: 15px;
    height: 40px;
    margin-right:50px;
    margin-right: 20px;
    
}


.section3{
    margin-left: 50px;
    margin-bottom: 70px;
}




.section3 img{
    width: 30px;
}


.section3 a{
    color: #ffffff;
}
